body {
    margin: 10vw;
    font-family: sans-serif;
}

.values-div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    padding: 1%;
    align-items: stretch;
    justify-content: space-around;
}

.values-div > div {
    padding: 1%;
}

/* TAX INFORMATION AND CHILDREN CSS */

.tax-information {
    flex: 1;
}

.tax-information > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.tax-information .input-div {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
    gap: 10px;
}

.tax-information .input-div input {
    min-width: 50px;
    flex: 1;
}

#apply-tax {
    flex: 1;
}

/* TAX INFORMATION AND CHILDREN CSS */

/* TITANO FIELDS AND BUTTONS */

.titano-information {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.titano-fields {
    flex: 4;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 4vw;
    justify-content: center;
    gap: 5px;

}

.titano-fields .input-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.frequency-div select{
    height: 100%;
}

#frequency {
    width: 60px;
}

.titano-fields .input-div p {
    margin: 0;
    padding: 0;
}

.titano-buttons {
    flex: 1;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 0 4vw;
}

.titano-buttons input {
    flex: 2;
    margin: 1% 0;
}

/* TITANO FIELDS AND BUTTONS */

#results {
    margin-top: 20px;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    min-height: 200px;
}

#results-summary {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.label-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 20px;
}

.summary-p {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.label-value p:nth-child(2) {
    padding: 0;
    margin: 0;
}

/* RANDOM */

.bold {
    font-weight: bold;
    font-size: 1rem;
}

.input-end {
    text-align: end;
}
