body {
    margin: 10vw;
}

.values-div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.input-div {
    display: flex;
    gap: 15px;
    flex: 1 0 auto;
    max-width: 200px;
    justify-content: space-between;
    align-items: center;
}

.values-div label {
    flex-shrink: 0;
}

.values-div input {
    min-width: 0;
    width: 100%;
    text-align: end;
}

#submit, #reset {
    width: 200px;
    text-align: center;
    flex-wrap: wrap;
}

#results {
    margin-top: 20px;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}
